*{
	margin: 0px;
	padding: px;
}
#navbar{
	padding:4%;
	padding-left: 0%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#main {
	padding: 4%;
	display: flex;
	justify-content: space-around;
}