*{
	margin: 0px;
	padding: 0px;
}
#navbar {
	margin: 4px;
	padding: 3px;
	padding-bottom: 5%;
	outline: solid black 1px;
	display: flex;
	justify-content: space-between;
}
#mainbody {
	margin: 5%;
	padding: 5%;
}
#actions {
	display: flex;
	justify-content: space-between;
}
form{
	padding: 3px;
	margin: 4px;
	text-align: center;
	outline: solid black 1px;
}
#activity{
	outline: solid black 1px;
	width: 100%;
	min-height: 30px;
}
.red{
	color : red;
}
.green{
	color : green;
}