*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #e9e9eb;
}
#navbar{
	text-align:right;
	padding-right: 0.5rem;
	background-color: #563d7c;
	color: white;
	margin-bottom: 0px;
}
.aTags{
	text-decoration: none;
	color: white;
}
#logo{
	padding: 1%;
	padding-top: 0px;
	font-family: "Fantasy";
	text-align: center;
	/* font-weight: bold; */
	background-color: #563d7c;
	color: white;
}
#main{
	min-height: 500px;
	min-width: 1200px;
	display: flex;
	justify-content: space-around;
    background-image: url("/images/desk.jpeg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#login{
	padding: 4%;
}
.btn.btn-primary{
	background-color: #563d7c;
}
.label {
	color: gray;
	font-size: 80%;
}
#locationState {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end; /* aligns the two boxes */
}